:root {
  --primary-color: #a9bbc8;
  --neutral-color: #f2f2eb;
  --accent-color: #88734c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: #F2F2EB;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background: #13293d;
  background: linear-gradient(to right, #A9BBC8, #4880a5);
  color: #fff;
  padding: 20px;
  
}


.main-header img.resumePhoto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}



img.resumePhoto:hover {
  box-shadow: 0 0 10px rgba(240, 235, 235, 0.5);
}
.main-header h1 {
  font-size: 24px;
}

.main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  margin-right: 20px;

}

.main-header a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.split-screen {
  display: flex;
}

.aside-container {
  flex: 0 0 25%;
  background-color: #ccc;
  padding: 20px;
}

/* Vertical line alongside the aside cards */
.aside-container {
  position: relative;
}


/* Vertical line alongside the aside cards */
.aside-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6px; 
  background-color: #88734C; /* Accent color */
}

.projects-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.asidecards {
  margin-bottom: 20px;
  transition: box-shadow 0.3 ease-in-out;
  border-color: bold;
}

.asidecards:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow on hover pieces */
}
.projectcard {
  border: 5px solid #88734C;

  background-color: #fff;
  padding: 1%;
  margin: 1%;
  flex: 0 0 25%; 
  max-width: 25%; /*this set the width and height*/
  transition: box-shadow 0.3s ease-in-out; 
  border-radius: 15px; /* Add rounded corners to the project cards */
  overflow: hidden; 
}

.projectcard header {
  padding: 20px;
  background: #13293d;
  color: #fff;
  font-size: 1.2rem; 
  text-align: center; 
  background: var(--primary-color);
}

.projectcard header {
  animation: rotateColors 8s linear infinite; /* Change the duration (8s) if needed */
}


@keyframes rotateColors {
  0% {
    background: var(--primary-color);
  }
  50% {
    background: var(--accent-color);
  }
  100% {
    background: var(--primary-color);
  }
}


.larger-card {
  flex: 0 0 75%; /* Width of the first (larger) project card */
  max-width: 75%; /* Set the maximum width of the first (larger) project card */
}

.projectcard:not(.larger-card){
flex: 0 0 27%;
max-width: 27%;
}

.projectcard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adds a shadow and a  hover */
}


.project-Card-Images {
  width: 100%;
}

.projectcard img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.footer {
  background-color: #88734C;
  padding: 10px;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #13293d, #4880a5);
}


.asidecards p::first-letter {
  font-size: 2em;
  color: #88734C; /* Accent color for the first letter */
  font-weight: bold;
}

.contact-form {
  padding: 20px;
  border: 5px solid #88734C; /* Accent color */
  background-color: #F2F2EB; /* Neutral color */
  border-radius: 8px; /* Rounded edges */
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #A9BBC8; /* Headline color */
  border-radius: 5px;
}

.contact-form textarea {
  resize: vertical; /*this will allow the vertical line to show up*/
}

.contact-form button {
  padding: 10px 20px;
  background-color: #88734C; /* Accent color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.social-media ul {
  display: flex;
  justify-content: center;
}


.social-media li {
  margin: 0 10px;
}

ul {
  list-style: none;
  padding: 0;
}


.main-header a:hover {
  color: #f2f2eb; 
}


.footer a:hover {
  color: #f2f2eb; 
}


