* {
  box-sizing: border-box;
}

body {

  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  margin-top: 2%;
}



.main-header {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background: #13293d;
  color: #fff;
  width: 100%; /* Make the header span the full width */
  
}



.header-links {
  display: flex;
}

.header-links ul {
  list-style-type: none;
  display: flex;
}

.header-links li {
  margin: 0 10px;
}

.header-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  scroll-behavior: smooth;
}

.header-links a:hover {
  text-decoration: underline;
}

/* Container for flexboxes */
section {
display: flex;
}

/* Style the navigation menu */
aside {
 max-width: 25%;
  background: #ccc;
  padding: 20px;
}


/* Style the content */
.projects-container{
display:flexbox;
  max-width: 50%;

}

/* Style the footer */
footer {
  
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Align the aside and article sections */
  margin-top: 2%;
}


.card-container {
  display: grid;
 
 }

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}


/* Style for individual project cards */
.projectcard {
  border: 5px solid rgb(90, 192, 36);
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex: 1 0 0;
  text-align: center;
}



.projectcard header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.projectcard img  {
  width: 100%;
  min-width: 400px;
}



.asidecards{ 
  display:flexbox;
 
  


.asidecards header {
  padding: 20px;
}

.asidecards p {
  text-align: center;
}

.asidecards img {
  width: 100%;
}


.asidecards:hover,.projectcard:hover {
  background-color: #f0f0f0;
  border-color: #999;
}

.asidep{
  border-bottom: 1px solid black;
  
}

#password-generator-card {
  grid-column: span 4; /* Make it span two columns */
}

.aside-container {
  flex: 0 0 25%; /* Adjust the width of the aside */
  background-color: #ccc;
  padding: 20px;
}
