* {
  box-sizing: border-box;
}

body {
  display: flexbox;
  font-family: Arial, Helvetica, sans-serif;
}



/* Your existing CSS styles */

/* Style the header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.header-links {
  display: flex;
}

.header-links ul {
  list-style-type: none;
  display: flex;
}

.header-links li {
  margin: 0 10px;
}

.header-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  scroll-behavior: smooth;
}

.header-links a:hover {
  text-decoration: underline;
}

/* Container for flexboxes */
section {
display: flex;
}

/* Style the navigation menu */
aside {
  display: flexbox;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}


/* Style the content */
article {
  display: flexbox;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}


/* Style the footer */
footer {
  display: flexbox;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}




.card-container {
  display: grid;
 
  gap: 20px; /* Add gap between cards in the nav */
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}



/* Keep your existing CSS code */

 /* Apply grid layout to .projects container */
 .projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Style for individual project cards */
.projectcard {
  border: 5px solid rgb(90, 192, 36);
  background-color: #fff;
  padding: 10px;
  /* Remove the width property to allow the grid to control the width */
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectcard header {
  padding: 20px;
}

.projectcard img {
  width: 100%;
}


.asidecards{ border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;}


.asidecards header {
  padding: 20px;
}

.asidecards p {
  text-align: center;
}

.asidecards img {
  width: 100%;
}


.asidecards:hover,.projectcard:hover {
  background-color: #f0f0f0;
  border-color: #999;
}

.asidep{
  border-bottom: 1px solid black;
  
}

#password-generator-card {
  grid-column: span ; /* Make it span two columns */
}


