/* Reset.css */
/* Normalize default styles */

/* Box sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    background-color: rgb(211, 194, 174);
    padding: 20px;
  }
  
  /* Header styles */
  header {
    border-radius: 20px;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(158, 145, 145, 0.5);
    display: flex;
    justify-content: space-between;
    background-color: rgb(207, 241, 207);
    padding: 20px;
    color: blue;
  }
  
  /* Header image styles */
  .header-image {
    border-radius: 10px;
    margin-right: 20px;
    border: 2px solid yellow;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    width: 200px;
  }
  
  /* Navigation styles */
  nav {
    border-radius: 20px;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    background-color: #d8a47f;
    text-align: right;
  }
  
  nav.links {
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
  }
  
  /* Main styles */
  main {
    border-radius: 20px;
    display: flex;
  }
  
  /* Aside styles */
  aside {
    flex: 30%;
    background-color: #b9c6ae;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  /* Section styles */
  section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
  }
  
  /* .lon styles */
  .lon {
    color: gray;
  }
  
  /* Header container styles */
  .header {
    position: relative;
    align-items: center;
  }
  
  .header h1 {
    margin-right: 20px;
  }
  
  .header ul {
    list-style-type: none;
    display: flex;
  }
  
  .header li {
    margin-right: 10px;
  }
  
  /* Links styles */
  .links {
    padding: 20px;
  }
  
  /* Card styles */
  .card {
    background-color: #0f0e0e;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px solid black;
  }
  
  /* Title styles */
  .title1,
  .title2,
  .title3,
  .title4 {
    color: blueviolet;
  }
  
  /* Paragraph styles */
  .paragraph1,
  .paragraph2,
  .paragraph3,
  .paragraph4 {
    color: rgb(212, 203, 186);
  }
  
  /* Section background styles */
  .first,
  .second,
  .third,
  .fourth {
    background-color: #e68787;
  }
  
  /* Footer styles */
  footer {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: azure;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  footer {
    padding: 20px;
  }